<% include ../partials/header %>


    <div class="container">
        <h2 class="hdcenter">Edit
            <%= recipe.name%>
        </h2>
        <form action="/recipes/<%= recipe._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="recipename">Recipe Name</label>
                <input class="form-control inputwidth" type="text" name="recipe[name]" value="<%= recipe.name%>">
            </div>
            <div class="form-group">
                <label for="recipename">image URL</label>
                <input class="form-control inputwidth" type="text" name="recipe[image]" value="<%= recipe.image%>">
            </div>
            <div class="form-group">
                <label for="recipename">Description/Method</label>
                <textarea class="form-control inputwidth" rows="10" name="recipe[description]">
                    <%=recipe.description%>
                </textarea>
            </div>

            <div class="card card-block bg-light p-3">

                <div class="card-title">
                    <h5>Edit Ingredients and Quantities below</h5>
                </div>
                <ul id="ingredienList">
                </ul>
                <div class="row">

                    <% for(var i = 0; i<6 ; i++){ %>

                        <% if (recipe.ingredients[i]) {%>
                            <% var name = recipe.ingredients[i]["name"];%>
                            <% var quantity = recipe.ingredients[i]["quantity"];%>
                        <%} else {%>
                            <% var name = undefined;%>
                            <% var quantity = undefined;%>
                        <% }%>

                        <div class="col-md-6">
                            <div class="row div-ingredent">
                                <div class="col">
                                    <input class="form-control inputwidth" type="text" name="ingredient[name][]" value="<%=name%>" placeholder="Ingredient">
                                </div>
                                <div class="col">
                                    <input class="form-control inputwidth" type="text" name="ingredient[quantity][]" value="<%=quantity%>" placeholder="Quantity">
                                </div>
                            </div>
                        </div>

                    <% }%>
                    <% for(var i = 6; i<12; i++){ %>

                        <% if (recipe.ingredients[i]) {%>
                            <% var name = recipe.ingredients[i]["name"];%>
                            <% var quantity = recipe.ingredients[i]["quantity"];%>
                        <%} else {%>
                            <% var name =undefined;%>
                            <% var quantity = undefined;%>
                        <% }%>

                        <div class="col-md-6">
                            <div class="row div-ingredent">
                                <div class="col">
                                    <input class="form-control inputwidth" type="text" name="ingredient[name][]" value="<%=name%>" placeholder="Ingredient">
                                </div>
                                <div class="col">
                                    <input class="form-control inputwidth" type="text" name="ingredient[quantity][]" value="<%=quantity%>" placeholder="Quantity">
                                </div>
                            </div>
                        </div>
                    <% }%>
                </div>


                <!-- <button id="add-ingredient" class="btn btn-primary btnwidth" type=button> Add More Ingredient</button> -->
            </div>

            <button class="btn btn-outline-info btn-block btnwidth">Edit recipes</button>

        </form>

        <div class="footerwidth">
            <a href="/recipes">Back</a>
        </div>
    </div>
    <% include ../partials/footer %>