<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <img class="img-fluid rounded" src="<%= recipe.image%>">
                    <div class="card-body">
                        <!-- <h4 class="float-lg-right">$9.00/night</h4> -->
                        <h4 class - "card-title">
                            <a href="#">
                                <%= recipe.name %>
                            </a>
                        </h4>
                        <em>Submitted by
                            <%= recipe.author.username%>
                        </em>
                        <p>
                            <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
                                <form method="POST" action="/recipes/<%= recipe._id%>?_method=DELETE">
                                    <a class="btn btn-sm btn-outline-info" href="/recipes/<%= recipe._id%>/edit">Edit</a>
                                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                                </form>
                                <% } %>
                        </p>
                        <hr>
                        <p class - "card-text">
                            <%= recipe.description%>
                        </p>
                    </div>
                </div>

            </div>
            <div class = "col-md-3">
                <h4>Ingredients</h4>
                <ul>
                    <% recipe.ingredients.forEach(function(ingredient){ %>
                        <% if (ingredient.name) { %>
                                <li><%= ingredient.name%> - <%= ingredient.quantity%></li>
                        <% } %>
                    <% })%>
                </ul>
            </div>
        </div>
        <!-- <hr> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 zero-left-padding">

                        <div class="row">
                                <div class="col-md-12">
                                    <div class="div-comments-margin">
                                        <span class="lead text-muted">
                                            Comments
                                            <div class="float-lg-right">
                                                <a class="btn btn-light btn-sm" href="/recipes/<%= recipe._id%>/comments/new">Add Comments</a>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                    <% recipe.comments.forEach(function(comment){ %>


                        <blockquote class="blockquote">
                            <div class="div-comments">
                                <p>
                                    <small>
                                        <%= comment.text%>
                                    </small>
                                </p>

                                <footer class="blockquote-footer">
                                    <%= comment.author.username%>
                                    <!--<%= new Date().toLocaleString()%>
                                    <%= new Date(comment.author.creationDate)%>-->
                                    <% var diff = Math.round((new Date() - new Date(comment.author.creationDate))/(1000*60*60*24)) %> 
                                    <small class="float-lg-right" title = "<%= comment.author.creationDate %>">
                                        <% if(diff >= 2){ %>
                                            <%= diff%> days ago
                                        <% } else if (diff >= 1 && diff < 2) {%>
                                            Yesterday
                                        <% } else {%>
                                            Today
                                        <% } %>
                                       
                                    </small>
                                </footer>
                                <%if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <form method="POST" action="/recipes/<%= recipe._id%>/comments/<%= comment._id%>?_method=DELETE">
                                        <a class="btn btn-sm btn-outline-info" href="/recipes/<%= recipe._id%>/comments/<%= comment._id%>/edit"> Edit </a>
                                        <button class="btn btn-sm btn-outline-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </blockquote>

                        <!-- <hr> -->

                        <!-- <strong>
                                    <%= comment.author%>
                                </strong>

                                <p>
                                    <small>
                                        <span>10 days ago</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <%= comment.text%>
                                    </small>

                                </p> -->
                        <% }) %>
                </div>
            </div>

        </div>
        <a href="/recipes"> Back To recipes</a>
    </div>
<% include ../partials/footer %>